@model IEnumerable<WypozyczalniaProjekt.Models.DbModels.Wynajem>

@{
    ViewBag.Title = "Lista wynajmów";
}

<h2 class="Title">Lista wynajmów</h2>
<div class="Wrapper">
    <p>
        @Html.ActionLink("Dodaj wynajem", "Create")
    </p>
    <div id="image-container">
        <img src="https://i.imgur.com/qpSyLDc.png" class="center">
    </div>
    
    </table>
</div>
